<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template: WARNING!!!</title>
</head>
<body>
    <div class="card">
        <h3>WARNING</h3>
        <p>[ DESCRIPTION ]</p>
        <h2>Lanjut?</h2>
        <div>
            <ul>
                <a href="#"><li>Ya</li></a>
                <a href="#"><li>Source</li></a>
                <a href="/"><li>Tidak</li></a>
            </ul>
        </div>
    </div>
</body>
</html>